body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7B1FA2;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5b6f9;
  padding: 20px;
  border-radius: 10px;
  color: #7B1FA2;
}

#comments {
  margin-top: 20px;
}

#comment-list {
  list-style-type: none;
  padding: 0;
}

#comment-form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#comment-form input[type="text"],
#comment-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

#comment-form button {
  padding: 5px 10px;
  background-color: #fff;
  color: #800080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#search-input,
#search-button {
  margin-right: 10px;
}

.highlight {
  background-color: yellow;
}
